.container {
    background-color: #fff;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
}

.logoWrapper {
    display: flex;
    align-items: center;
    /* gap: 1vw; */
    max-height: 1vh;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.appTitle {
    color: #e6073f;
    font-weight: 800;
    font-size: 2rem;
    white-space: nowrap;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 3vw;

    font-size: 1.3rem;
    cursor: pointer;
}

li {
    text-decoration: none;
    list-style-type: none;
}