.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5% auto;
}

.text {
    text-align: center;
    color: #2e3856;
}

img {
    min-width: 15vw;
}